body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
  color: #303030;
  text-align: center;
}

p {
  text-align: justify;
}

img {
  object-fit: cover;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
  font-style: italic;
}

a {
  color: inherit;
}

.circular {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-position: bottom 30% right 50%;
}

.cirular-top {
  object-position: bottom 100% right 50%;
}

.logo {
  font-family: "Agbalumo", sans-serif;
}

.container {
  margin: 100px auto;
}

.navbar .container-fluid {
  display: grid;
  grid-template-columns: auto auto;
}

.navbar-collapse {
  justify-self: right !important;
}

.best-works-info {
  margin: 20px auto;
}

.social-media {
  font-size: 22px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
}

a.social-icons {
  text-decoration: none;
}
